:root {
  --error-text: rgb(208, 19, 19);
  --button-color: #9500ffe6;
  --placeholder-color: #ffffffd2;
  --text-main-color: #fff;
  --input-box-bg-color: #6b6b6b;
  --main-bg: #1a1a1a;
  --secondary-bg: #2f2f2f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text-main-color);
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.container {
  background-color: var(--secondary-bg);
  color: var(--text-main-color);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  width: clamp(22rem, 25rem, 27rem);
}

.input-container input {
  height: 2rem;
  border-radius: 5px;
  padding-left: 10px;
  background-color: var(--input-box-bg-color);
  border: none;
}

.input-container input::placeholder {
  color: var(--placeholder-color);
  font-size: 1rem;
}

.input-container button {
  background-color: var(--button-color);
  color: var(--text-main-color);
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  height: 2rem;
  padding: 5px;
  font-size: 1rem;
}

#weather-info {
  color: black;
  margin-top: 1rem;
}

#weather-info h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: var(--text-main-color);
}

#temperature {
  color: var(--text-main-color);
  font-size: 1.5rem;
}

#description {
  color: var(--text-main-color);
  margin-top: 0.5rem;
}

#error-message {
  color: var(--error-text);
  font-size: 1.5rem;
  font-weight: bolder;
}

.hidden {
  display: none;
}
