:root {
  --text-main-color: #fff;
  --main-bg: #1a1a1a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text-main-color);
}
