:root {
  --main-bg: #1a1a1a;
  --container-bg: #222222;
  --delete-btn-color: #f00;
  --delete-btn-hover-color: rgb(214, 0, 0);
  --add-task-btn-color: #a200ff;
  --light-text-color: #d6d6d6da;
  --main-text-color: #fff;
  --placeholder-color: #454545;
  --list-item-color: #454545;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--container-bg);
  height: auto;
  min-width: auto;
  padding: 0.5rem 1rem 0rem 1rem;
  border-radius: 10px;
  text-align: center;
}

.container h1 {
  color: var(--main-text-color);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.input-container input {
  background-color: var(--placeholder-color);
  height: 3rem;
  width: 15rem;
  padding-left: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  border: none;
  color: var(--light-text-color);
  &:focus {
    outline: 1px solid var(--light-text-color);
  }
}

#add-task-btn {
  background-color: var(--add-task-btn-color);
  cursor: pointer;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  color: var(--main-text-color);
  font-weight: bolder;
  border-radius: 10px;
  padding: 0px 5px;
  border: none;
}

#todo-list {
  margin-top: 1.5rem;
  height: auto;
  width: 100%;
}

#todo-list li {
  background-color: var(--list-item-color);
  padding: 1rem 1rem 1rem 1rem;
  margin: 0.5rem 0rem 1rem 0rem;
  list-style: none;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--main-text-color);
  font-weight: bolder;
  border-radius: 10px;
  font-size: 1.2rem;
}

#todo-list button {
  cursor: pointer;
  background-color: var(--delete-btn-color);
  border: none;
  padding: 0px 5px 0px 5px;
  color: var(--main-text-color);
  border-radius: 5px;
  &:hover {
    background-color: var(--delete-btn-hover-color);
  }
}

li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
