:root {
  --btn-hover-color: #3700ff;
  --button-color: #9500ff;
  --main-text-color: #fff;
  --main-bg-color: #1a1a1a;
  --secondary-bg-color: #2a2a2a;
  --lighter-dark-bg: #4a4a4a;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: clamp(22rem, 26rem, 30rem);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.container button {
  background-color: var(--button-color);
  padding: 8px;
  color: var(--main-text-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  &:hover {
    background-color: var(--btn-hover-color);
  }
}

#question-text {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

#choices-list {
  list-style: none;
  padding: 0.3rem;
  margin-bottom: 5px;
}

#choices-list li {
  background-color: var(--lighter-dark-bg);
  padding: 5px;
  border-radius: 5px;
  margin: 0.8rem 0rem;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    background-color: var(--button-color);
  }
}

.hidden {
  display: none;
}

#result-container h2 {
  font-size: 2rem;
  margin-bottom: 0.1rem;
}

#score {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.selected {
  background-color: var(--button-color) !important;
}
