:root {
  --button-color: #8900f9;
  --main-text-color: #fff;
  --main-bg-color: #1a1a1a;
  --secondary-bg-color: #2a2a2a;
  --lighter-dark-bg: #4a4a4a;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  height: 100dvh;
  justify-content: center;
}

.container {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  text-align: left;
  padding: 0.5rem 1rem;
  color: var(--main-text-color);
  width: clamp(10rem, 20rem, 60rem);
  height: auto;
}

.container h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.product {
  background-color: var(--lighter-dark-bg);
  color: var(--main-text-color);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.product button {
  background-color: var(--button-color);
  color: var(--main-text-color);
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
